<section class="content">
    <p>Choise certificate:</p>

    <ul class="list">
        <li><a href="https://softuni.bg/certificates/details/151346/a8c2197f" target="_blank">Programing Basic
                Certificate</a></li>
        <li><a href="https://softuni.bg/certificates/details/166222/2a86c7ff" target="_blank">Programing Fundamentals
                with JavaScript</a></li>
        <li><a href="https://softuni.bg/certificates/details/174092/91fd4843" target="_blank">JS Advanced</a></li>
        <li><a href="https://softuni.bg/certificates/details/180017/4f3aa661" target="_blank">JS Aplication</a></li>
        <li><a href="https://softuni.bg/certificates/details/190527/80c1c6a0" target="_blank">JS Back-End</a></li>
        <li><a href="https://softuni.bg/certificates/details/197785/176e0a78" target="_blank">ReactJS</a></li>
        <li><a href="https://softuni.bg/certificates/details/198325/882e6c21" target="_blank">IT Career Booster</a></li>
        <li><a href="https://softuni.bg/certificates/details/205112/ec100111" target="_blank">HTML&CSS</a></li>
        <li><a href="https://softuni.bg/certificates/details/212746/d95ac7d3" target="_blank">Angular</a></li>
        <li><a href="https://softuni.bg/certificates/details/215520/4efe8020" target="_blank">TypeScript</a></li>
        <li><a href="https://softuni.bg/certificates/details/215965/c32e0082" target="_blank">JavaScript Web Developer
                Diplom</a></li>
    </ul>
</section>