<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}} - Developer Portfolio</title>
    <link rel="stylesheet" href="../assets/styles/site.css?v=123456" />
    <!-- applied casche busting to prevend chasheing issues -->
</head>

<body class="page {{page.permalink | slugify}} {{page.title | slugify}}">

    <div class="site">

        {% include header.html %}

        <main class="site-content">

            <article class="page">
                <header>
                    <h1>{{page.title}}</h1>
                </header>

                <div {% if page.title=="About" %}class="text-hide" {% endif %}>
                    {{ content }}


                    <!-- {% if page.title=="About" %}
                    <button class="show-more">Show More</button>
                    {% endif %} -->

                    {% unless page.permalink != "/about/" %}
                    <button class="show-more">Show More</button>
                    {% endunless %}

                </div>
                
                <!-- <div {% unless page.permalink == "/about/" %}class="text-hide" {% endunless %}>
                    {{ content }}


                    {% unless page.permalink != "/about/" %}
                    <button class="show-more">Show More</button>
                    {% endunless %}

                </div> -->
                
            </article>

        </main>

        {% unless page.title == "Ways to get in touch" %}
        {% include footer.html %}
        {% endunless %}

    </div>

    <script src="../assets/scripts/script.js?v=123456"></script>

</body>

</html>